**/.git
**/.virtualenvs
**/.github
**/.circleci
**/.pytest_cache
**/__pycache__
*.egg-info
*.egg/
*.rpm
**/venv
**/.venv
**/.coverage

bin
dev-project
docs
scripts
tests
test-reports

.coveragerc
.pre-commit-config.yaml
.gitignore
.style.yapf
.yapfignore
CONTRIBUTING.md
CHANGELOG.md
pylintrc
pytest.ini
