# IDE
.vscode
.idea/*


# Python
__pycache__/
*.py[cod]
*$py.class
.virtualenvs
*.egg-info/
.pytest_cache
.coverage
.coverage.*
coverage.log
coverage_html
test-reports/

# Singer Tap state
.state.json

# Generated test yamls
tests/end-to-end/test-project/*.yml

# Docker
#.env

*.db
.DS_Store
venv
env
blog_old.md
node_modules
*.pyc
tmp

# Docs
docs/_build/
docs/_templates/
