# IDE
.vscode
.idea/*


# Python
__pycache__/
*.py[cod]
*$py.class
.virtualenvs
*.egg-info/
.pytest_cache
.coverage
.coverage.*
coverage.log
coverage_html

# Singer Tap state
.state.json

# Docker
#.env

*.db
.DS_Store
venv
env
blog_old.md
node_modules
*.pyc
tmp

# Docs
docs/_build/
docs/_templates/
