version: '3'
services:
  ### Primary container with PipelineWise CLI
  pipelinewise:
    image: python:3.7.4-buster
    container_name: pipelinewise_dev
    working_dir: /usr/src/app
    entrypoint: /usr/src/app/entrypoint-dev.sh
    environment:
      PIPELINEWISE_HOME: /usr/src/app
      DB_TAP_MYSQL_HOST: db_mysql_source
      DB_TAP_MYSQL_PORT: ${DB_TAP_MYSQL_PORT}
      DB_TAP_MYSQL_PORT_ON_HOST: ${DB_TAP_MYSQL_PORT_ON_HOST}
      DB_TAP_MYSQL_ROOT_PASSWORD: ${DB_TAP_MYSQL_ROOT_PASSWORD}
      DB_TAP_MYSQL_USER: ${DB_TAP_MYSQL_USER}
      DB_TAP_MYSQL_PASSWORD: ${DB_TAP_MYSQL_PASSWORD}
      DB_TAP_MYSQL_DB: ${DB_TAP_MYSQL_DB}

      DB_TAP_POSTGRES_HOST: db_postgres_source
      DB_TAP_POSTGRES_PORT: ${DB_TAP_POSTGRES_PORT}
      DB_TAP_POSTGRES_PORT_ON_HOST: ${DB_TAP_POSTGRES_PORT_ON_HOST}
      DB_TAP_POSTGRES_USER: ${DB_TAP_POSTGRES_USER}
      DB_TAP_POSTGRES_PASSWORD: ${DB_TAP_POSTGRES_PASSWORD}
      DB_TAP_POSTGRES_DB: ${DB_TAP_POSTGRES_DB}

      DB_TARGET_POSTGRES_HOST: db_postgres_dwh
      DB_TARGET_POSTGRES_PORT: ${DB_TARGET_POSTGRES_PORT}
      DB_TARGET_POSTGRES_PORT_ON_HOST: ${DB_TARGET_POSTGRES_PORT_ON_HOST}
      DB_TARGET_POSTGRES_USER: ${DB_TARGET_POSTGRES_USER}
      DB_TARGET_POSTGRES_PASSWORD: ${DB_TARGET_POSTGRES_PASSWORD}
      DB_TARGET_POSTGRES_DB: ${DB_TARGET_POSTGRES_DB}

    volumes:
      - .:/usr/src/app
      - /usr/src/app/.virtualenvs/

    # Build only when test databases are ready
    depends_on:
      - db_postgres_source
      - db_mysql_source
      - db_postgres_dwh


  ### TAP (Data source) containers
  # PostgreSQL service container used as test source database
  # Using Debezium image with wal2json plugin for logical decoding
  db_postgres_source:
    image: debezium/postgres:11-alpine
    container_name: pipelinewise_dev_postgres_source
    # Making some logical decoding adjustments
    command: -c "wal_level=logical" -c "max_replication_slots=5" -c "max_wal_senders=5"
    ports:
      - ${DB_TAP_POSTGRES_PORT_ON_HOST}:${DB_TAP_POSTGRES_PORT}
    environment:
      POSTGRES_USER: ${DB_TAP_POSTGRES_USER}
      POSTGRES_PASSWORD: ${DB_TAP_POSTGRES_PASSWORD}
      POSTGRES_DB: ${DB_TAP_POSTGRES_DB}

  # MySQL service container used as test source database
  db_mysql_source:
    image: mariadb:10.2.26
    container_name: pipelinewise_dev_mysql_source
    ports:
      - ${DB_TAP_MYSQL_PORT_ON_HOST}:${DB_TAP_MYSQL_PORT}
    command: --default-authentication-plugin=mysql_native_password --log-bin=mysql-bin --binlog-format=ROW
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_TAP_MYSQL_ROOT_PASSWORD}
      MYSQL_USER: ${DB_TAP_MYSQL_USER}
      MYSQL_PASSWORD: ${DB_TAP_MYSQL_PASSWORD}
      MYSQL_DATABASE: ${DB_TAP_MYSQL_DB}

  ### Target containers
  # PostgreSQL service container used as test target database
  db_postgres_dwh:
    image: postgres:11.4
    container_name: pipelinewise_dev_postgres_dwh
    ports:
      - ${DB_TARGET_POSTGRES_PORT_ON_HOST}:${DB_TARGET_POSTGRES_PORT}
    environment:
      POSTGRES_USER: ${DB_TARGET_POSTGRES_USER}
      POSTGRES_PASSWORD: ${DB_TARGET_POSTGRES_PASSWORD}
      POSTGRES_DB: ${DB_TARGET_POSTGRES_DB}

networks:
  default:
    driver: bridge
    ipam:
      config:
      - subnet: 192.168.55.0/24
