# IDE
.vscode
.idea/*


# Python
__pycache__/
*.py[cod]
*$py.class
.virtualenvs
*.egg-info/
*__pycache__/
*~
dist/

# Singer JSON files
properties.json
config.json
state.json

*.db
.DS_Store
venv
env
blog_old.md
node_modules
*.pyc
tmp

# Docs
docs/_build/
docs/_templates/
