version: 2
jobs:
  build:
    docker:
      - image: circleci/python:3.6.2
    steps:
      - checkout

      # target-snowflake
      - run:
          name: install dependencies
          command: |
            cd singer-connectors/target-snowflake
            python3 -m venv venv
            . venv/bin/activate
            pip install --upgrade pip
            pip install .
            pip install pylint
            pylint target_snowflake -d C,W,unexpected-keyword-arg,duplicate-code
        
      - run:
          name: 'Unit Tests'
          command: |
            cd singer-connectors/target-snowflake
            . venv/bin/activate
            pip install nose
            nosetests --where=tests/unit

      - run:
          name: 'Integration Tests'
          command: |
            cd singer-connectors/target-snowflake
            . venv/bin/activate
            pip install nose
            nosetests --where=tests/integration/


  # For documentation deployment. You'll need the following environment vars
  # in your Circle CI settings, otherwise this will not work.
  #
  # GH_NAME (your git username)
  # GH_EMAIL (your git email)
  # GH_TOKEN (the personal Git token with pushes enabled)
  deploy-doc:
    docker:
      - image: circleci/python:3.6.2
    working_directory: ~/gh_doc_automation
    steps:
      - checkout
      - run:
          name: install dependencies
          command: |
            python3 -m venv ~/venv-doc
            . ~/venv-doc/bin/activate
            pip install --upgrade pip
            pip install sphinx sphinx-rtd-theme
      - run: .circleci/publish_docs.sh

workflows:
  version: 2
  build:
    jobs:
      - build

  deploy:
    jobs:
      - deploy-doc