version: 2
jobs:
  build:
    docker:
      - image: circleci/python:3.6.2
    steps:
      - checkout

      # target-snowflake
      - run:
          name: install dependencies
          command: |
            cd singer-connectors/target-snowflake
            python3 -m venv venv
            . venv/bin/activate
            pip install --upgrade pip
            pip install .
            pip install pylint
        
      - run:
          name: 'Unit Tests'
          command: |
            cd singer-connectors/target-snowflake
            . venv/bin/activate
            pip install nose
            nosetests

      - run:
          name: 'Integration Tests'
          command: |
            . venv/bin/activate
            # TODO

workflows:
  version: 2
  build:
    jobs:
      - build