version: 2
references:
  container_config: &container_config
    docker:
      # Main python container
      - image: circleci/python:3.7.7
        environment:
          TAP_MYSQL_HOST: db_mysql_source
          TAP_MYSQL_PORT: 3306
          TAP_MYSQL_ROOT_PASSWORD: test
          TAP_MYSQL_USER: test
          TAP_MYSQL_PASSWORD: test
          TAP_MYSQL_DB: mysql_source_db

          TAP_POSTGRES_HOST: db_postgres_source
          TAP_POSTGRES_PORT: 5432
          TAP_POSTGRES_USER: test
          TAP_POSTGRES_PASSWORD: test
          TAP_POSTGRES_DB: postgres_source_db

          TARGET_POSTGRES_HOST: db_postgres_dwh
          TARGET_POSTGRES_PORT: 5432
          TARGET_POSTGRES_USER: test
          TARGET_POSTGRES_PASSWORD: test
          TARGET_POSTGRES_DB: postgres_dwh

          TAP_MONGODB_HOST: mongodb_source
          TAP_MONGODB_PORT: 27017
          TAP_MONGODB_USER: mongoUser
          TAP_MONGODB_PASSWORD: Password1
          TAP_MONGODB_DB: test

      # PostgreSQL service container image used as test source database (for tap-postgres)
      - image: postgres:11.4
        name: db_postgres_source
        environment:
          POSTGRES_USER: test
          POSTGRES_PASSWORD: test
          POSTGRES_DB: postgres_source_db

       # MariaDB service container image used as test source database (for tap-mysql)
      - image: mariadb:10.2.26
        name: db_mysql_source
        command: --default-authentication-plugin=mysql_native_password --log-bin=mysql-bin --binlog-format=ROW
        environment:
          MYSQL_ROOT_PASSWORD: test
          MYSQL_USER: test
          MYSQL_PASSWORD: test
          MYSQL_DATABASE: mysql_source_db

      # PostgreSQL service container image used as test target (DWH) database (for target-postgres)
      - image: postgres:11.4
        name: db_postgres_dwh
        environment:
          POSTGRES_USER: test
          POSTGRES_PASSWORD: test
          POSTGRES_DB: postgres_dwh

      - image: "mongo:4.2-bionic"
        name: "mongodb_source"
        environment:
          MONGO_INITDB_ROOT_USERNAME: mongoUser
          MONGO_INITDB_ROOT_PASSWORD: Password1
          MONGO_INITDB_DATABASE: test
        command:
          - bash
          - c
          - "mongo -u $MONGO_INITDB_ROOT_USERNAME -p $MONGO_INITDB_ROOT_PASSWORD --authenticationDatabase admin admin <<EOF
              db.getName();
              db.createUser({
                  user: $(jq --arg 'user' $MONGO_USERNAME --null-input '$user'),
                  pwd: $(jq --arg 'pwd' $MONGO_PASSWORD --null-input '$pwd'),
                  roles: [{ role: 'readWrite', db: $MONGO_INITDB_DATABASE }]
            });
            EOF && mongod --replSet rs0
          "
jobs:
  test:
    <<: *container_config

    steps:
      - checkout
      - run:
          name: 'Build source databases for integration tests'
          command: |
            sudo apt-get update
            sudo apt install mariadb-client postgresql-client mongo-tools
            wget https://repo.mongodb.org/apt/ubuntu/dists/bionic/mongodb-org/4.2/multiverse/binary-amd64/mongodb-org-shell_4.2.7_amd64.deb
            dpkg -i ./mongodb-org-shell_4.2.7_amd64.deb && rm mongodb-org-shell_4.2.7_amd64.deb
            ./mongo/init_rs.sh

            ./tests/db/tap_mysql_db.sh
            ./tests/db/tap_postgres_db.sh
            ./tests/db/tap_mongodb.sh
      - run:
          name: 'Installing PipelineWise components and connectors'
          command: ./install.sh --acceptlicenses --connectors=target-snowflake,target-postgres,tap-mysql,tap-postgres,tap-mongodb,transform-field,tap-s3-csv
      - run:
          name: 'Check code formatting and do pylinting'
          command: |
            . .virtualenvs/pipelinewise/bin/activate
            pip install unify pylint
            echo "Checking double quotes..."
            find pipelinewise tests -type f -name '*.py' | xargs unify --check-only
            echo "Running pylint..."
            pylint pipelinewise tests

      - run:
          name: 'Run tests'
          command: |
            . .virtualenvs/pipelinewise/bin/activate
            export PIPELINEWISE_HOME=$PWD
            mkdir test-reports
            coverage run -m pytest -v --junitxml=test-reports/junit.xml
            coverage report
            coverage html -d coverage_html
      - store_test_results:
          path: test-reports
      - store_artifacts:
          path: coverage_html

  build-and-push-docker:
    docker:
      - image: docker.tw.ee/k8s-deployer:1

    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Push and release the new version
          command: k8s-deployment docker-build docker-push
          environment:
            DEPLOY_DOCKERFILE: ./Dockerfile
            DEPLOY_IMAGE_NAME: pipelinewise
            DEPLOY_SLACK_CHANNEL: '#analytics-db-updates'

  # For documentation deployment. You'll need the following environment vars
  # in your Circle CI settings, otherwise this will not work.
  #
  # GH_NAME (your git username)
  # GH_EMAIL (your git email)
  # GH_TOKEN (the personal Git token with pushes enabled)
  deploy-doc:
    docker:
      - image: circleci/python:3.7.7
    working_directory: ~/gh_doc_automation
    steps:
      - checkout
      - run: .circleci/publish_docs.sh

workflows:
  version: 2
  build_and_test:
    jobs:
      - test
      - build-and-push-docker:
          context: artifactory-deploy-docker
          requires:
            - test
          filters:
            branches:
              only:
                - master

  deploy_doc:
    jobs:
      - deploy-doc
