/.vscode/*
/.ipynb_checkpoints/*
config/
virtualenvs/
*catalog*.json
*config*.json
previous-state.json
target*.json
*.sublime-*
.python-version
singer-check-tap-data
*.pyc
*.egg-info
dist/
__pycache__/
venv/
build/
tap_twilio/.vscode/settings.json
*.ipynb
.DS_Store
test_configuration.py
tap_target_commands.sh
.idea/
