---

id: "data_diff_postgres_dwh"
name: "Data-diff PostgreSQL target"
type: "target-postgres"

db_conn:
  host: "${TARGET_POSTGRES_HOST}"
  port: ${TARGET_POSTGRES_PORT}
  user: "${TARGET_POSTGRES_USER}"
  password: "${TARGET_POSTGRES_PASSWORD}"
  dbname: "${TARGET_POSTGRES_DB}"
