---

# ------------------------------------------------------------------------------
# General Properties
# ------------------------------------------------------------------------------
id: "postgres_dwh"                     # Unique identifier of the target
name: "Postgres Data Warehouse"        # Name of the target
type: "target-postgres"                # !! THIS SHOULD NOT CHANGE !!


# ------------------------------------------------------------------------------
# Target - Data Warehouse connection details
# ------------------------------------------------------------------------------
db_conn:
  host: "<HOST>"                          # Postgres host
  port: 5432                              # Postgres port
  user: "<USER>"                          # Postgres user
  password: "<PASSWORD>"                  # Plain string or vault encrypted
  dbname: "<DB_NAME>"                     # Postgres database name
  #ssl: "true"                         # Optional: Using SSL via postgres sslmode 'require' option.
                                       #           If the server does not accept SSL connections or the client
                                       #           certificate is not recognized the connection will fail

