TARGET_SNOWFLAKE_ACCOUNT=<snowflake-account-name>
TARGET_SNOWFLAKE_DBNAME=<snowflake-database-name>
TARGET_SNOWFLAKE_USER=<snowflake-user>
TARGET_SNOWFLAKE_PASSWORD=<snowfale-password>
TARGET_SNOWFLAKE_WAREHOUSE=<snowflake-warehouse>
TARGET_SNOWFLAKE_SCHEMA=<snowflake-schema>
TARGET_SNOWFLAKE_AWS_ACCESS_KEY=<aws-access-key-id>
TARGET_SNOWFLAKE_AWS_SECRET_ACCESS_KEY=<aws-access-secret-access-key>
TARGET_SNOWFLAKE_S3_ACL=<s3-target-acl>
TARGET_SNOWFLAKE_S3_BUCKET=<s3-external-bucket>
TARGET_SNOWFLAKE_S3_KEY_PREFIX=<bucket-directory>
TARGET_SNOWFLAKE_STAGE=<stage-object-with-schema-name>
TARGET_SNOWFLAKE_FILE_FORMAT_CSV=<file-format-csv-object-with-schema-name>
TARGET_SNOWFLAKE_FILE_FORMAT_PARQUET=<file-format-parquet-object-with-schema-name>
CLIENT_SIDE_ENCRYPTION_MASTER_KEY=<client_side_encryption_master_key>
