# Workflow to check if all singer connectors are installable
name: Singer connectors

on:
  merge_group:
  pull_request:
    branches: [master]

  workflow_dispatch:

concurrency:
  group: singer-connectors-${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  test_install_connectors:
    runs-on: ubuntu-22.04

    steps:
      - name: Checking out repo
        uses: actions/checkout@v4.1.7

      - name: Check if python changes are present
        id: check
        env:
          GITHUB_REPO: ${{ github.repository }}
          PR_NUMBER: ${{ github.event.pull_request.number }}
        continue-on-error: true
        run: ./scripts/ci_check_no_file_changes.sh python

      - name: Set up Python 3.10
        uses: actions/setup-python@v5.1.0
        with:
          python-version: '3.10'

      - name: Check PipelineWise and all connectors are installable
        run: |
          make pipelinewise_no_test_extras all_connectors
