# Workflow to check if all singer connectors are installable
name: Singer connectors

on:
  pull_request:
    branches: [master]

  workflow_dispatch:

concurrency:
  group: singer-connectors-${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  test_install_connectors:
    runs-on: ubuntu-20.04

    steps:
      - name: Checking out repo
        uses: actions/checkout@v4.1.7

      - name: Set up Python 3.8
        uses: actions/setup-python@v5.1.0
        with:
          python-version: '3.8'

      - name: Check all connectors are installable
        run: |
          make all_connectors
