name: Docker Images to DockerHub

on:
  release:
    types:
      - published

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Generate tag
      uses: frabert/replace-string-action@master
      id: genTag
      with:
        pattern: '.*(\d+\.\d+\.\d+).*'
        string: "${{ github.event.release.tag_name }}"
        replace-with: '$1'

    - name: Login to DockerHub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build and push main image
      id: docker_build_main
      uses: docker/build-push-action@v2.0
      with:
        file: ./Dockerfile
        push: true
        tags: |
          transferwiseworkspace/pipelinewise:${{ steps.genTag.outputs.replaced }}
          transferwiseworkspace/pipelinewise:latest

    - name: Build and push barebone image
      id: docker_build_barebone
      uses: docker/build-push-action@v2
      with:
        file: ./Dockerfile.barebone
        push: true
        tags: |
          transferwiseworkspace/pipelinewise-barebone:${{ steps.genTag.outputs.replaced }}
          transferwiseworkspace/pipelinewise-barebone:latest

    - name: Image digests
      run: |
        echo ${{ steps.docker_build_main.outputs.digest }}
        echo ${{ steps.docker_build_barebone.outputs.digest }}
