---

# ------------------------------------------------------------------------------
# General Properties
# ------------------------------------------------------------------------------
id: "postgres_to_rs"
name: "PostgreSQL source test database"
type: "tap-postgres"
owner: "test-runner"


# ------------------------------------------------------------------------------
# Source (Tap) - PostgreSQL connection details
# ------------------------------------------------------------------------------
db_conn:
  host: "${TAP_POSTGRES_HOST}"          # PostgreSQL host
  port: ${TAP_POSTGRES_PORT}            # PostgreSQL port
  user: "${TAP_POSTGRES_USER}"          # PostgreSQL user
  password: "${TAP_POSTGRES_PASSWORD}"  # Plain string or vault encrypted
  dbname: "${TAP_POSTGRES_DB}"          # PostgreSQL database name


# ------------------------------------------------------------------------------
# Destination (Target) - Target properties
# Connection details should be in the relevant target YAML file
# ------------------------------------------------------------------------------
target: "redshift"                    # ID of the target connector where the data will be loaded
batch_size_rows: 1000                 # Batch size for the stream to optimise load performance


# ------------------------------------------------------------------------------
# Source to target Schema mapping
# ------------------------------------------------------------------------------
schemas:
  - source_schema: "public"
    target_schema: "postgres_world_sf"

    tables:
      - table_name: "city"
        replication_method: "INCREMENTAL"
        replication_key: "id"

      - table_name: "country"
        replication_method: "FULL_TABLE"

      - table_name: "countrylanguage"
        replication_method: "FULL_TABLE"

      - table_name: "order"
        replication_method: "INCREMENTAL"
        replication_key: "created_at"
        transformations:
          - column: 'cvarchar'
            type: 'MASK-HIDDEN'

      - table_name: "table_with_reserved_words"
        replication_method: "INCREMENTAL"
        replication_key: "increment"
        transformations:
          - column: 'order'
            type: 'HASH'
