---

# ------------------------------------------------------------------------------
# General Properties
# ------------------------------------------------------------------------------
id: "mariadb_to_pg"
name: "MariaDB source test database"
type: "tap-mysql"
owner: "test-runner"


# ------------------------------------------------------------------------------
# Source (Tap) - MySQL connection details
# ------------------------------------------------------------------------------
db_conn:
  host: "${TAP_MYSQL_HOST}"             # MySQL host
  port: ${TAP_MYSQL_PORT}               # MySQL port
  user: "${TAP_MYSQL_USER}"             # MySQL user
  password: "${TAP_MYSQL_PASSWORD}"     # Plain string or vault encrypted
  dbname: "${TAP_MYSQL_DB}"             # MySQL database name


# ------------------------------------------------------------------------------
# Destination (Target) - Target properties
# Connection details should be in the relevant target YAML file
# ------------------------------------------------------------------------------
target: "postgres_dwh"                 # ID of the target connector where the data will be loaded
batch_size_rows: 20000                 # Batch size for the stream to optimise load performance


# ------------------------------------------------------------------------------
# Source to target Schema mapping
# ------------------------------------------------------------------------------
schemas:
  - source_schema: "mysql_source_db"
    target_schema: "mysql_grp24"
    target_schema_select_permissions:
      - group1

    tables:
      - table_name: "address"
        replication_method: "INCREMENTAL"
        replication_key: "date_updated"

      - table_name: "area_code"
        replication_method: "FULL_TABLE"

      - table_name: "order"
        replication_method: "FULL_TABLE"

      - table_name: "weight_unit"
        replication_method: "LOG_BASED"
