---

# ------------------------------------------------------------------------------
# General Properties
# ------------------------------------------------------------------------------
id: "mariadb_source"
name: "MariaDB source test database"
type: "tap-mysql"
owner: "test-runner"


# ------------------------------------------------------------------------------
# Source (Tap) - MySQL connection details
# ------------------------------------------------------------------------------
db_conn:
  host: "${DB_TAP_MYSQL_HOST}"                  # PostgreSQL host
  port: ${DB_TAP_MYSQL_PORT}                    # PostgreSQL port
  user: "${DB_TAP_MYSQL_USER}"                  # PostgreSQL user
  password: "${DB_TAP_MYSQL_PASSWORD}"          # Plain string or vault encrypted
  dbname: "${DB_TAP_MYSQL_DB}"                  # PostgreSQL database name


# ------------------------------------------------------------------------------
# Destination (Target) - Target properties
# Connection details should be in the relevant target YAML file
# ------------------------------------------------------------------------------
target: "postgres_dwh"                 # ID of the target connector where the data will be loaded
batch_size_rows: 20000                 # Batch size for the stream to optimise load performance


# ------------------------------------------------------------------------------
# Source to target Schema mapping
# ------------------------------------------------------------------------------
schemas:
  - source_schema: "mysql_source_db"
    target_schema: "mysql_grp24"
    target_schema_select_permissions:
      - group1

    tables:
      - table_name: "address"
        reproduction_method: "INCREMENTAL"
        reproduction_key: "date_updated"

      - table_name: "area_code"
        reproduction_method: "FULL_TABLE"

      - table_name: "order"
        reproduction_method: "FULL_TABLE"

      - table_name: "weight_unit"
        reproduction_method: "LOG_BASED"
