---

# ------------------------------------------------------------------------------
# General Properties
# ------------------------------------------------------------------------------
id: "mariadb_to_rs"
name: "MariaDB source test database"
type: "tap-mysql"
owner: "test-runner"


# ------------------------------------------------------------------------------
# Source (Tap) - MySQL connection details
# ------------------------------------------------------------------------------
db_conn:
  host: "${TAP_MYSQL_HOST}"             # MySQL host
  port: ${TAP_MYSQL_PORT}               # MySQL port
  user: "${TAP_MYSQL_USER}"             # MySQL user
  password: "${TAP_MYSQL_PASSWORD}"     # Plain string or vault encrypted
  dbname: "${TAP_MYSQL_DB}"             # MySQL database name


# ------------------------------------------------------------------------------
# Destination (Target) - Target properties
# Connection details should be in the relevant target YAML file
# ------------------------------------------------------------------------------
target: "redshift"                     # ID of the target connector where the data will be loaded
batch_size_rows: 20000                 # Batch size for the stream to optimise load performance


# ------------------------------------------------------------------------------
# Source to target Schema mapping
# ------------------------------------------------------------------------------
schemas:
  - source_schema: "mysql_source_db"
    target_schema: "mysql_grp24"

    tables:
      - table_name: "table_with_binary" # This table has binary and varbinary columns
        replication_method: "LOG_BASED"

      #- table_name: "edgydata" # This table has SF reserved words as columns
      #  replication_method: "LOG_BASED"
      #  transformations:
      #    - column: "case"
      #      type: "HASH"

      - table_name: "no_pk_table"
        replication_method: "FULL_TABLE"

      #- table_name: "full" # This table has a reserved word as a name, full is reserved in both Mysql and Snowflake
      #  replication_method: "INCREMENTAL"
      #  replication_key: "begin"
