---

# ------------------------------------------------------------------------------
# General Properties
# ------------------------------------------------------------------------------
id: "mariadb_to_bq_buffered_stream"
name: "MariaDB source test database"
type: "tap-mysql"
owner: "test-runner"


# ------------------------------------------------------------------------------
# Source (Tap) - MySQL connection details
# ------------------------------------------------------------------------------
db_conn:
  host: "${TAP_MYSQL_HOST}"             # MySQL host
  port: ${TAP_MYSQL_PORT}               # MySQL port
  user: "${TAP_MYSQL_USER}"             # MySQL user
  password: "${TAP_MYSQL_PASSWORD}"     # Plain string or vault encrypted
  dbname: "${TAP_MYSQL_DB}"             # MySQL database name


# ------------------------------------------------------------------------------
# Destination (Target) - Target properties
# Connection details should be in the relevant target YAML file
# ------------------------------------------------------------------------------
target: "bigquery"                     # ID of the target connector where the data will be loaded
batch_size_rows: 20000                 # Batch size for the stream to optimise load performance
stream_buffer_size: 20                 # In-memory buffer size (MB) between taps and targets for asynchronous data pipes


# ------------------------------------------------------------------------------
# Source to target Schema mapping
# ------------------------------------------------------------------------------
schemas:
  - source_schema: "mysql_source_db"
    target_schema: "ppw_e2e_tap_mysql"

    tables:
      ### Table with LOG_BASED replication
      - table_name: "weight_unit"
        replication_method: "LOG_BASED"
        transformations:
          - column: "weight_unit_name"
            type: "HASH-SKIP-FIRST-2"

      ### Table with INCREMENTAL replication
      - table_name: "address"
        replication_method: "INCREMENTAL"
        replication_key: "date_updated"
        transformations:
          - column: "zip_code_zip_code_id"
            type: "MASK-NUMBER"
            when:
              - column: 'street_number'
                regex_match: '[801]'

          - column: "date_created"
            type: "MASK-DATE"

      ### Table with FULL_TABLE replication
      - table_name: "order"
        replication_method: "FULL_TABLE"

      ### Table with no primary key
      - table_name: "no_pk_table"
        replication_method: "FULL_TABLE"

      ### Table with binary and varbinary columns
      - table_name: "table_with_binary"
        replication_method: "LOG_BASED"

      ### Table with reserved words and columns and special characters
      - table_name: "edgydata"
        replication_method: "LOG_BASED"
        transformations:
          - column: "case"
            type: "HASH"

          - column: "group"
            type: "MASK-NUMBER"
            when:
              - column: 'case'
                equals: 'A'
          - column: "group"
            type: "SET-NULL"
            when:
              - column: 'case'
                equals: 'B'

      ### Table with reserved word
      - table_name: "full"
        replication_method: "INCREMENTAL"
        replication_key: "begin"

      ### Table with space and mixed upper and lowercase characters
      - table_name: "table_with_space and UPPERCase"
        replication_method: "LOG_BASED"

      ### Table with all possible data types
      - table_name: "all_datatypes"
        replication_method: "LOG_BASED"

      ### Table with INCREMENTAL replication
      - table_name: "customers"
        replication_method: "INCREMENTAL"
        replication_key: "id"
        transformations:
          - column: "phone"
            type: "MASK-STRING-SKIP-ENDS-2"

          - column: "email"
            type: "MASK-STRING-SKIP-ENDS-6"
