---

# ------------------------------------------------------------------------------
# General Properties
# ------------------------------------------------------------------------------
id: "mongo_to_sf"
name: "MongoDB source test database"
type: "tap-mongodb"
owner: "test-runner"


# ------------------------------------------------------------------------------
# Source (Tap) - Mongo connection details
# ------------------------------------------------------------------------------
db_conn:
  host: "${TAP_MONGODB_HOST}"               	# Mongodb host
  port: ${TAP_MONGODB_PORT}                     # Mongodb port
  user: "${TAP_MONGODB_USER}"                  	# Mongodb user
  password: "${TAP_MONGODB_PASSWORD}"           # Mongodb plain string or vault encrypted
  auth_database: "admin"            			# Mongodb database to authenticate on
  dbname: "${TAP_MONGODB_DB}"           		# Mongodb database name to sync from
  replica_set: rs0      						# Mongodb replica set name, default null
  write_batch_rows: 500
  update_buffer_size: 30
#  await_time_ms: 5000 # 5 sec

# ------------------------------------------------------------------------------
# Destination (Target) - Target properties
# Connection details should be in the relevant target YAML file
# ------------------------------------------------------------------------------
target: "snowflake"                   # ID of the target connector where the data will be loaded
batch_size_rows: 1000                  # Batch size for the stream to optimise load performance
stream_buffer_size: 0                  # In-memory buffer size (MB) between taps and targets for asynchronous data pipes

# ------------------------------------------------------------------------------
# Source to target Schema mapping
# ------------------------------------------------------------------------------
schemas:
  - source_schema: "${TAP_MONGODB_DB}"
    target_schema: "ppw_e2e_tap_mongodb_${TARGET_SNOWFLAKE_SCHEMA_POSTFIX}"

    tables:
      - table_name: "listings"

      - table_name: "my_collection"
        replication_method: "LOG_BASED"

      - table_name: "all_datatypes"
        replication_method: "LOG_BASED"
