---

# ------------------------------------------------------------------------------
# General Properties
# ------------------------------------------------------------------------------
id: "redshift"                         # Unique identifier of the target
name: "Amazon Redshift"                # Name of the target
type: "target-redshift"                # !! THIS SHOULD NOT CHANGE !!


# ------------------------------------------------------------------------------
# Target - Data Warehouse connection details
# ------------------------------------------------------------------------------
db_conn:
  host: "${TARGET_REDSHIFT_HOST}"           # Redshift host
  port: ${TARGET_REDSHIFT_PORT}             # Redshift port
  user: "${TARGET_REDSHIFT_USER}"           # Redshift user
  password: "${TARGET_REDSHIFT_PASSWORD}"   # Plain string or vault encrypted
  dbname: "${TARGET_REDSHIFT_DBNAME}"       # Redshift database name

  # We use an intermediate S3 to load data into Redshift
  aws_access_key_id: "${TARGET_REDSHIFT_AWS_ACCESS_KEY}"             # Optional: Plain string or vault encrypted. If not provided, it will be collected from AWS_ACCESS_KEY_ID env var
  aws_secret_access_key: "${TARGET_REDSHIFT_AWS_SECRET_ACCESS_KEY}"  # Optional: Plain string or vault encrypted. If not provided, it will be collected from AWS_SECRET_ACCESS_KEY env var
  #aws_session_token: "${TARGET_REDSHIFT_SESSION_TOKEN}"             # Optional: AWS STS token for temporary credentials. If not provided, it will be collected from AWS_SESSION_TOKEN env var
  #aws_redshift_copy_role_arn: "${TARGET_REDSHIFT_COPY_ROLE_ARN}"    # Optional: AWS Role ARN to be used for the Redshift COPY operation.
                                                                     #           Allow the user to use environment credentials and delegate the COPY command to a role
                                                                     #           Used instead of the given AWS keys for the COPY operation if provided
  s3_bucket: "${TARGET_REDSHIFT_S3_BUCKET}"             # S3 external bucket name
  s3_key_prefix: "${TARGET_REDSHIFT_S3_KEY_PREFIX}"     # Optional: S3 key prefix
  s3_acl: "${TARGET_REDSHIFT_S3_ACL}"                   # Optional: ACL for S3 objects

  # Optional: Overrides the default COPY options to load data into Redshift
  #           The values below are the defaults and fit for purpose for most cases.
  #           Some basic file formatting parameters are fixed values and not
  #           recommended overriding by custom ones.
  #           They are like: CSV GZIP DELIMITER ',' REMOVEQUOTES ESCAPE
  #copy_options: "
  #  EMPTYASNULL BLANKSASNULL TRIMBLANKS TRUNCATECOLUMNS
  #  TIMEFORMAT 'auto'"
